$color: #fd0;

@import 'compass/reset';
@import 'compass/typography/links/hover-link';

@import 'partials/typography';
@import 'partials/popup';

@import 'partials/circles';

html{   
    color: #fff;
    background-color: #000;
}

@import 'partials/layout';